html
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body
{
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom left, black, #808080);
    color: white;
}
  
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background:transparent;
}
  
.title a
{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.links .btn
{
    display: inline-block;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
  
header .links .btn
{   
    padding: 10px 30px;
}

footer .links .btn
{
    padding: 10px 10px;
}
  
.links .btn:hover
{
    background: linear-gradient(to bottom left, rgba(224, 32, 255, 0.2), rgba(128, 128, 128, 0.2));
}

.links .btn::before
{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom left, rgba(224, 32, 255, 0.2), rgba(128, 128, 128, 0.2));
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    z-index: -1;
}

.links .btn:hover::before
{
    opacity: 1;
}

main
{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: white;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    box-sizing: border-box;
}

main h1
{
    text-align: center;
}

main p
{
    font-size: 1rem;
}

.sidebar
{
    width: 20%;
}

.content
{
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 1280px;
}

.pop_up_content
{
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 1s ease-out forwards;
    animation-delay: 300ms;
}

@keyframes fadeUp
{
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.row_divider
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column_divider
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer
{
    height: 12vh;
    max-height: 320px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: linear-gradient(to bottom left, #363636, #232323);
}